@charset "UTF-8";
/*!
=========================================================
* FelipedelosH
=========================================================

* Copyright: 2023 FelipedelosH
* Licensed: https://github.com/felipedelosh
* Coded by https://github.com/felipedelosh/AFE-PORTFOLIO

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/


/*!
HEADER
*/
.header{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/banner/theftBanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-desktop{
    padding-top: 2%;
}

.container_img_logo img{
    margin-left: 20%;
    width: 80%;
}

.container_welcome_message{
    position: absolute;
    top: 20%;
    left: 4%;
    z-index: 2;
}

.welcome_message{
    color: white;
}

.container_btn_appointment p{
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-right: 16px;
    background-color: #156b40;
    color: white;
    border-radius: 10px;
}
.container_btn_appointment svg{
    width: 5%;
    height: 5%;
    margin-left: 10px;
}
.btn-appointment {
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-right: 16px;
    background-color: #25ae57;
    color: white;
    border-radius: 10px;
  }
/*!
END Header
*/
/*!
=======================================================================
*/

/*!
banner services
*/
.banner_services{
    margin-top: 2%;
    margin-bottom: 2%;
}

.container_services_img_left img{
    width: 100%;
    height: 100%;
}

.container_services_card_center{
    background-color: white;
    padding-top: 1%;
    border: 1px;
    border-radius: 10px;
}

.container_services_card_center img{
    width: 100%;
    height: 100%;
}


.container_services_img_right img{
    width: 100%;
    height: 100%;
}
/*!
END banner services
*/
/*!
=======================================================================
*/



/*!
services
*/
.services{
    background-color: #1e2530;
    margin-top: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    color: white;
}


.conatainer_ico_cars_services{
    width: 100%;
    display: flex;
    justify-content: center;
}

.conatainer_ico_cars_services img{
    margin-top: 8%;
    margin-bottom: 2%;
    max-width: 100%;
    max-width: 100%;
}

.container_btn_view_rates{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_view_rates{
    margin-top: 2%;
    margin-bottom: 2%;    
}

/*!
END services
*/
/*!
=======================================================================
*/

/*!
KPI
*/
.kpi{
    margin-top: 2%;
    margin-bottom: 8%;
}

.kpi svg{
    color: grey;
    width: 50%;
    max-width: 150px; 
    height: auto; 
}

.cointainer_kpi_text{
    position: absolute;
    top: 30%;
    transform: translateX(+40%);
    text-align: center;
    margin-top: 55px;
}

.kpi_total{
    font-weight: 800;
    font-size: 2.3em;
    color: red;
}

.kpi_description{
    transform: translateY(-46%);
    color: black;
    font-weight: bold;
}

.col_kpi_container{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*!
END KPI
*/
/*!
=======================================================================
*/

/*!
Services Rates
*/
.services_rates{
    margin-top: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    background-color: #1a1f27;
}

.title_description_rate{
    color: white;
}

.card_rates_container{
    background-color: #19273a;
    padding: 2%;
    border-radius: 10px;
}

.price_total_value_rate{
    color: green;
}

.price_total_value_rate svg{
    color: green;
    height: 8%;
    width: 8%; 
}


.ul_description_rate svg{
    color: green;
    height: 20px;
    width: 20px; 
}

.ul_description_rate li{
    color: white;
}

.ul_list_rates_container{
    display: flex;
    justify-content: center;
}

/*!
END Services Rates
*/
/*!
=======================================================================
*/


/*!
BANNER FOOTER
*/
.banner_footer{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #1e2530;
}

.banner_footer p{
    color: white;
}

.hr_banner_footer{
    border-color: white;
}

.ul_banner_footer_links{
    display: flex;
    justify-content: center;
}

/*
Facebook BTN
*/
.btn_facebook {
    width: 45px;
    height: 45px;
    background-color: #3b5998;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185),
   0px 3px 3px rgba(255, 255, 255, 0.178) inset,
   0px -3px 3px rgba(0, 0, 0, 0.281) inset;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 3px;
}

.btn_facebook::before {
    background-color: transparent;
    content: "f";
    font-size: 1.6em;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.btn_facebook::after {
    content: "acebook";
    background-color: transparent;
    font-size: 0;
    opacity: 0;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    transform: translateX(60px);
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.btn_facebook:hover {
    width: 160px;
    border-radius: 30px;
}

.btn_facebook:hover::after {
    opacity: 1;
    font-size: 1.6em;
    transform: translateX(0px);
}

.btn_facebook:hover .shine {
    transform: translate(-70px ,10px);
}
/*
END Facebook BTN
*/

/*
Instagram BTN
*/
.btn_isntagram {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
}

.svgIcon {
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.btn_isntagram .text_btn_isntagram {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
}

.btn_isntagram:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
}

.btn_isntagram:hover .text_btn_isntagram {
    opacity: 1;
    transition-duration: .4s;
}

.btn_isntagram:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
}
/*
END Instagram BTN
*/

.ul_banner_footer_auditors{
    display: flex;
    justify-content: center;
}

.banner_footer_auditors{
    padding-top: 2%;
    width: 100%;
}

.banner_footer_auditors img{
    height: 40px;
}
/*!
END BANNER FOOTER
*/

/*!
FOOTER
*/
.footer{
    background-color: #212934;
    padding-top: 2%;
    padding-bottom: 2%;
}

.text_footer p{
    color: white;
}

.text_footer a{
    text-decoration: none;
}


/*!
END FOOTER
*/


/*!
======================================================
*/

/*!
Father Effects
This is a most comond effects in page
*/
.linkeable_element{
    cursor: pointer;
}

.element_cursor_click{
    cursor: pointer;
}

.ul_not_style{
    list-style: none;
}

.ul_inline{
    list-style: none;
    display:flex;
}

.ul_inline li{
    margin-right: 4%;
    color: white;
}

/*!
END Father Effects
*/

.floating-button-whatsapp{
	position: fixed;
	bottom: 5%;
	right: 5%;
	transition: all 300ms ease 0ms;
	z-index: 99;
    background-color: #25d366;
    border-radius: 50%;
    padding: 1%;
}

.floating-button-whatsapp svg{
    height: 40px;
    width: 40px;
    color: white;
}