@charset "UTF-8";
/*!
=========================================================
* FelipedelosH
=========================================================

* Copyright: 2023 FelipedelosH
* Licensed: https://github.com/felipedelosh
* Coded by https://github.com/felipedelosh/AFE-PORTFOLIO

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/


/*!
HEADER
*/
.header{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/banner/theftBanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container_menu_navbar_desktop #navbarNavDropdown{
    padding-right: 4%;
}

.dropdown-menu li .dropdown-item{
    color: black;
}

.nav-item a{
    text-decoration: none;
    color: white;
}

/*!
MENU MOBILE
*/
/* The design is inspired from the mockapi.io */
.menu_navbar_mobile{
	position: fixed;
	left: 10%;
}

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, .15);
    --burger-color: white;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: .3s;
    --burger-transition: all .1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: .95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, .2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: .8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 12px;
    --nav-button-hover-bg: #6495ed;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}
  
/* popup settings 👆 */

.popup {
display: inline-block;
text-rendering: optimizeLegibility;
position: relative;
}

.popup input {
display: none;
}

.burger {
display: flex;
position: relative;
align-items: center;
justify-content: center;
background: var(--burger-bg);
width: var(--burger-diameter);
height: var(--burger-diameter);
border-radius: var(--burger-btn-border-radius);
border: none;
cursor: pointer;
overflow: hidden;
transition: var(--burger-transition);
outline: var(--burger-enable-outline-width) solid transparent;
outline-offset: 0;
}

.burger span {
height: var(--burger-line-height);
width: var(--burger-line-width);
background: var(--burger-color);
border-radius: var(--burger-line-border-radius);
position: absolute;
transition: var(--burger-line-transition);
}

.burger span:nth-child(1) {
top: var(--burger-offset);
}

.burger span:nth-child(2) {
bottom: var(--burger-offset);
}

.burger span:nth-child(3) {
top: 50%;
transform: translateY(-50%);
}

.popup-window {
transform: scale(var(--nav-default-scale));
visibility: hidden;
opacity: 0;
position: absolute;
padding: var(--nav-padding-y) var(--nav-padding-x);
background: var(--nav-bg);
font-family: var(--nav-font-family);
color: var(--nav-text-color);
border-radius: var(--nav-border-radius);
box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
border: var(--nav-border-width) solid var(--nav-border-color);
top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
left: var(--nav-position-left);
right: var(--nav-position-right);
transition: var(--burger-transition);
}

.popup-window legend {
padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
margin: 0;
color: var(--nav-title-color);
font-size: var(--nav-title-size);
text-transform: uppercase;
}

.popup-window ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.popup-window ul button {
outline: none;
width: 100%;
border: none;
background: none;
display: flex;
align-items: center;
color: var(--burger-color);
font-size: var(--nav-button-font-size);
padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
white-space: nowrap;
border-radius: var(--nav-button-border-radius);
cursor: pointer;
column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
color: cornflowerblue;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
color: red;
}

.popup-window hr {
margin: var(--underline-margin-y) 0;
border: none;
border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
color: var(--nav-button-hover-text-color);
background: var(--nav-button-hover-bg);
}

.burger:hover {
transform: scale(var(--burger-hover-scale));
}

.burger:active {
transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
outline-color: var(--burger-enable-outline-color);
outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
top: 50%;
transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
bottom: 50%;
transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
transform: scale(var(--nav-active-scale));
visibility: visible;
opacity: 1;
}
/*!
END MENU MOBILE
*/

.ico_cda_mobile_banner_menu{
    padding-top: 10%;
    width: 80%;
    max-width: 40px;
    height: 80%;
    max-height: 50px;
}

.container_welcome_message{
    position: absolute;
    top: 20%;
    left: 4%;
    z-index: 2;
}

.welcome_message{
    color: white;
}

.container_btn_appointment p{
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-right: 16px;
    background-color: #25d366;
    color: white;
    border-radius: 10px;
}
.container_btn_appointment svg{
    width: 5%;
    height: 5%;
    margin-left: 10px;
}
.btn-appointment {
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 4px;
    padding-right: 16px;
    background-color: #25ae57;
    color: white;
    border-radius: 10px;
  }
/*!
END Header
*/
/*!
=======================================================================
*/

/*!
banner services
*/
.banner_services{
    margin-top: 2%;
    margin-bottom: 2%;
}

.container_services_img_left img{
    width: 100%;
    height: 100%;
}

.container_services_card_center{
    background-color: white;
    padding-top: 1%;
    border: 1px;
    border-radius: 10px;
}

.container_services_card_center img{
    width: 100%;
    height: 100%;
}


.container_services_img_right img{
    width: 100%;
    height: 100%;
}
/*!
END banner services
*/
/*!
=======================================================================
*/



/*!
services
*/
.services{
    background-color: #1e2530;
    margin-top: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    color: white;
}

.container_row_img_service{
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_row_img_service img{
    width: 60%;
}

.container_btn_view_rates{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_view_rates{
    margin-top: 2%;
    margin-bottom: 2%;    
}
/*!
END services
*/
/*!
=======================================================================
*/

/*!
KPI
*/
.kpi{
    margin-top: 2%;
    margin-bottom: 8%;
}

.kpi svg{
    color: grey;
    width: 50%;
    max-width: 150px; 
    height: auto; 
}

.cointainer_kpi_text{
    position: absolute;
    top: 30%;
    transform: translateX(+40%);
    text-align: center;
    margin-top: 55px;
}

.kpi_total{
    font-weight: 800;
    font-size: 2.3em;
    color: red;
}

.kpi_description{
    transform: translateY(-46%);
    color: black;
    font-weight: bold;
}

.col_kpi_container{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*!
END KPI
*/
/*!
=======================================================================
*/

/*!
Services Rates
*/
.services_rates{
    margin-top: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    background-color: #1a1f27;
}

.title_description_rate{
    color: white;
}

.card_rates_container{
    background-color: #19273a;
    padding: 2%;
    border-radius: 10px;
}

.price_total_value_rate{
    color: green;
}

.price_total_value_rate svg{
    color: green;
    height: 8%;
    width: 8%; 
}


.ul_description_rate svg{
    color: green;
    height: 20px;
    width: 20px; 
}

.ul_description_rate li{
    color: white;
}

.ul_list_rates_container{
    display: flex;
    justify-content: center;
}

/*!
END Services Rates
*/
/*!
=======================================================================
*/


/*!
BANNER FOOTER
*/
.banner_footer{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #1e2530;
}

.banner_footer p{
    color: white;
}

.hr_banner_footer{
    border-color: white;
}

.ul_banner_footer_links{
    display: flex;
    justify-content: center;
}

/*
Facebook BTN
*/
.btn_facebook {
    width: 45px;
    height: 45px;
    background-color: #3b5998;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185),
   0px 3px 3px rgba(255, 255, 255, 0.178) inset,
   0px -3px 3px rgba(0, 0, 0, 0.281) inset;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 3px;
}

.btn_facebook::before {
    background-color: transparent;
    content: "f";
    font-size: 1.6em;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.btn_facebook::after {
    content: "acebook";
    background-color: transparent;
    font-size: 0;
    opacity: 0;
    font-weight: 700;
    color: white;
    z-index: 5;
    transition: all .3s;
    transform: translateX(60px);
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.btn_facebook:hover {
    width: 160px;
    border-radius: 30px;
}

.btn_facebook:hover::after {
    opacity: 1;
    font-size: 1.6em;
    transform: translateX(0px);
}

.btn_facebook:hover .shine {
    transform: translate(-70px ,10px);
}
/*
END Facebook BTN
*/

/*
Instagram BTN
*/
.btn_isntagram {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
}

.svgIcon {
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.btn_isntagram .text_btn_isntagram {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
}

.btn_isntagram:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
}

.btn_isntagram:hover .text_btn_isntagram {
    opacity: 1;
    transition-duration: .4s;
}

.btn_isntagram:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
}
/*
END Instagram BTN
*/

.ul_banner_footer_auditors{
    display: flex;
    justify-content: center;
}

.banner_footer_auditors{
    padding-top: 2%;
    width: 100%;
}

.banner_footer_auditors img{
    height: 40px;
}
/*!
END BANNER FOOTER
*/


/*!
we are
*/
.we_are{
    margin-top: 2%;
    margin-bottom: 2%;
}


/*!
END we are
*/
/*!
======================================================
*/




/*!
FOOTER
*/
.footer{
    background-color: #212934;
    padding-top: 2%;
    padding-bottom: 2%;
}

.text_footer p{
    color: white;
}

.text_footer a{
    text-decoration: none;
}


/*!
END FOOTER
*/


/*!
======================================================
*/

/*!
Father Effects
This is a most comond effects in page
*/
.a_not_style{
    text-decoration: none;
    color: black;
}

.linkeable_element{
    cursor: pointer;
}

.element_cursor_click{
    cursor: pointer;
}

.ul_not_style{
    list-style: none;
}

.ul_inline{
    list-style: none;
    display:flex;
}

.ul_inline li{
    margin-right: 4%;
    color: white;
}

/*!
END Father Effects
*/

.floating-button-whatsapp{
	position: fixed;
	bottom: 5%;
	right: 5%;
	transition: all 300ms ease 0ms;
	z-index: 99;
    background-color: #25d366;
    border-radius: 50%;
    padding: 1%;
}

.floating-button-whatsapp svg{
    height: 40px;
    width: 40px;
    color: white;
}